@model Services.ServiceModels.CompanyViewModel

<div>
    <div class="flex items-center justify-between pb-2">
        <h4 class="text-xl font-semibold">Recruiters</h4>
        <button class="rounded bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#A53D3D]" onclick="displayAddModal('@Model.CompanyId')">
            <i class="fa fa-plus mr-2"></i>
            Add Recruiter
        </button>
    </div>

    <div class="mb-4">
        <input type="text" id="recruiterSearch" class="w-full rounded border px-3 py-2 leading-tight text-gray-700 shadow focus:outline-none focus:shadow-outline" placeholder="Search recruiters by name or email..." />
    </div>

    <table class="min-w-full bg-white">
        <thead>
            <tr>
                <th class="border-b-2 border-gray-300 px-6 py-3 text-left uppercase tracking-wider text-gray-600">Name</th>
                <th class="border-b-2 border-gray-300 px-6 py-3 text-left uppercase tracking-wider text-gray-600">Email</th>
                <th class="border-b-2 border-gray-300 px-6 py-3 text-left uppercase tracking-wider text-gray-600">Active Listings</th>
                <th class="border-b-2 border-gray-300 px-6 py-3 text-left uppercase tracking-wider text-gray-600">Inactive Listings</th>
                <th class="border-b-2 border-gray-300 px-6 py-3"></th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Recruiters.Any())
            {
                <tr>
                    <td colspan="4" class="px-6 py-4 text-center text-red-500">No Recruiters in Company</td>
                </tr>
            }
            else
            {
                @foreach (var recruiter in Model.Recruiters)
                {
                    <tr class="border-b bg-white">
                        <td class="whitespace-no-wrap px-6 py-4">
                            <a href="#">
                                @recruiter.User.FirstName @recruiter.User.MiddleName @recruiter.User.LastName @recruiter.User.Suffix
                            </a>
                        </td>
                        <td class="whitespace-no-wrap px-6 py-4">
                            @Html.DisplayFor(modelItem => recruiter.User.Email)
                        </td>
                        <td class="whitespace-no-wrap px-6 py-4 text-center">
                            @recruiter.Jobs.Where(j => !j.IsArchived).Count()
                        </td>
                        <td class="whitespace-no-wrap px-6 py-4 text-center">
                            @recruiter.Jobs.Where(j => j.IsArchived).Count()
                        </td>
                        <td class="whitespace-no-wrap px-6 py-4">
                            <a title="Message" href="javascript:void(0);" class="action-icon" onclick="">
                                <i class="fa fa-commenting"></i>
                            </a>
                            <text class="px-2">|</text>
                            <a title="Reassign" href="javascript:void(0);" class="action-icon" onclick="displayReassignRecruiterModal('@Model.CompanyId', '@recruiter.UserId')">
                                <i class="fa-solid fa-share"></i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>