@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@using static Resources.Constants.SvgIcons

@{
    bool isAdmin = HttpContextAccessor.HttpContext.User.IsInRole("Admin");
    var userId = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value;
    var role = HttpContextAccessor.HttpContext.User.FindFirst(System.Security.Claims.ClaimTypes.Role)?.Value;
    bool isSuper = User.HasClaim("IsSuperAdmin", "true");
    var userName = HttpContextAccessor.HttpContext.User.Identity.Name;
    var userLastName = HttpContextAccessor.HttpContext.User.FindFirst("LastName")?.Value;
    bool isLoggedIn = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
}

<nav class="fixed z-50 w-full bg-white text-[#743030] shadow-md">
    <div class="mx-auto w-5/6 px-4">
        <div class="flex h-16 items-center justify-between">
            <!-- Left Section: Logo -->
            <div class="flex-shrink-0 flex items-center">
                <a href="@Url.Action("Index", "Home")" class="flex items-center">
                    <img src="~/img/logo1.webp" alt="Logo" class="mr-3 h-8 w-auto">
                </a>
            </div>
            
            <!-- Center Section: Navigation Links -->
            <div class="flex flex-grow justify-center space-x-16">
                <a href="@Url.Action("Index", "Home")" class="group relative inline-flex items-center font-semibold text-[#7A1515] hover:text-[#A04747] hover:no-underline">
                    Home
                    <span class="group-hover:w-full absolute bottom-0 left-0 h-0.5 w-0 bg-[#A04747] transition-all duration-300 ease-in-out"></span>
                </a>
                <a href="@Url.Action("GetAllJobsApplicant", "Job")" class="group relative inline-flex items-center font-semibold text-[#7A1515] hover:text-[#A04747] hover:no-underline">
                    Find Job
                    <span class="group-hover:w-full absolute bottom-0 left-0 h-0.5 w-0 bg-[#A04747] transition-all duration-300 ease-in-out"></span>
                </a>
                <a href="@Url.Action("", "")" class="group relative inline-flex items-center font-semibold text-[#7A1515] hover:text-[#A04747] hover:no-underline">
                    Contact
                    <span class="group-hover:w-full absolute bottom-0 left-0 h-0.5 w-0 bg-[#A04747] transition-all duration-300 ease-in-out"></span>
                </a>
                <a href="@Url.Action("", "")" class="group relative inline-flex items-center font-semibold text-[#7A1515] hover:text-[#A04747] hover:no-underline">
                    About
                    <span class="group-hover:w-full absolute bottom-0 left-0 h-0.5 w-0 bg-[#A04747] transition-all duration-300 ease-in-out"></span>
                </a>
            </div>
            
            <!-- Right Section: Profile Dropdown -->
            <div class="flex-shrink-0 flex items-center">
                <div class="relative ml-3">
                    <button type="button" class="flex rounded-full text-sm focus:outline-none" id="user-menu-button" aria-expanded="false" aria-haspopup="true" onclick="toggleDropdown()">
                        <span class="sr-only">Open user menu</span>
                        <img src="https://ui-avatars.com/api/?name=@userName+@userLastName&background=A04747&color=fff&format=svg" alt="Profile Image" class="h-9 w-9 rounded-full">
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown-menu" class="absolute right-0 mt-2 hidden w-48 origin-top-right whitespace-nowrap rounded-md bg-white py-1 shadow-lg" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button">
                        <a href="@Url.Action("GetAllApplications", "Application")" class="flex items-center px-4 py-2 text-sm text-[#343131] hover:text-[#A04747] hover:bg-gray-100 hover:no-underline" role="menuitem">
                            @Html.Raw(ApplicationIcon)Applications
                        </a>
                        <a href="@Url.Action("", "")" class="flex items-center px-4 py-2 text-sm text-[#343131] hover:text-[#A04747] hover:bg-gray-100 hover:no-underline" role="menuitem">
                            @Html.Raw(BookmarkIcon) <span class="pl-1">Bookmarks</span>
                        </a>
                        <hr />
                        <a href="@Url.Action("GetUserProfile", "UserProfile")" class="flex items-center px-4 py-2 text-sm text-[#343131] hover:text-[#A04747] hover:bg-gray-100 hover:no-underline" role="menuitem">
                            @Html.Raw(SettingsIcon)Settings
                        </a>
                        <a href="#" data-toggle="modal" data-target="#logoutModal" class="flex items-center px-4 py-2 text-sm text-[#343131] hover:text-[#A04747] hover:bg-gray-100 hover:no-underline" role="menuitem">
                            @Html.Raw(SignOutIcon)Log out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    function toggleDropdown() {
        var menu = document.getElementById('dropdown-menu');
        menu.classList.toggle('hidden');
    }

    document.addEventListener('click', function (event) {
        var dropdownButton = document.getElementById('user-menu-button');
        var dropdownMenu = document.getElementById('dropdown-menu');
        if (!dropdownButton.contains(event.target) && !dropdownMenu.contains(event.target)) {
            dropdownMenu.classList.add('hidden');
        }
    });
</script>