@using static Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/tagify/dist/tagify.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/css/bootstrap-multiselect.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    @if (User.IsInRole("Applicant"))
    {
        @Html.Partial("_Header")
    }
    <div class="layout bg-[#F5F7F8]">
        @if (!User.IsInRole("Applicant"))
        {
            @Html.Partial("_Sidebar")
        }
        <main role="main" class="content">
            @RenderBody()
            @if(ViewBag.loginView == true)
			{
                <footer class="footer d-flex justify-content-between align-items-center mb-3 p-0" style="color:black; z-index:1;">
                    <div>
                        <img src="~/img/logoBW.png" style="width: 150px;" alt="login-logo" class="ml-5" />
                    </div>
                    <div class="mr-5">
                        &copy; @DateTime.Now.Year GradSync
                    </div>
                </footer>

            }
            else
            {
                <footer class="footer" style="border-top: 1px solid var(--border-color); ">
                    @Copyright
                </footer>
            }
        </main>
    </div>

    <!-- Logout Modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title flex items-center" id="logoutModalLabel">
                        <i class="fa fa-hourglass-half mr-2"></i>
                        Log out
                    </h5>
                    <button type="button" class="close text-gray-500 hover:text-gray-700" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body py-1 pl-4">
                    <p>Are you sure you want to log out?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="rounded bg-gray-500 px-4 py-2 font-semibold text-white hover:bg-gray-600" data-dismiss="modal">Cancel</button>
                    <form asp-action="SignOutUser" asp-controller="Account" method="post" id="signOutForm">
                        <button type="submit" class="rounded bg-[#7A1515] px-4 py-2 font-semibold text-white hover:bg-[#A53D3D] disabled:bg-gray-400 disabled:cursor-not-allowed" id="signOutButton">
                            Confirm
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/tagify/dist/tagify.js"></script>
    <script src="~/lib/signalr/signalr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.15/js/bootstrap-multiselect.min.js"></script>
    <script>
        toastr.options = {
            positionClass: "toast-bottom-center",
            timeOut: 3000,
            closeButton: true,
            progressBar: true
        };
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('signOutForm');
            const button = document.getElementById('signOutButton');

            form.addEventListener('submit', function (event) {
                button.disabled = true;
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
