@using static Resources.Views.Screen

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/tagify/dist/tagify.css" media="print" onload="this.media='all'"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" media="print" onload="this.media='all'">
    @RenderSection("Styles", required: false)
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          media="print"
          onload="this.media='all'" />
    <noscript>
        <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
              rel="stylesheet"
              type="text/css" />
    </noscript>
</head>
<body>
    @{
        await Html.RenderPartialAsync("_LogoutModal");
    }
    <div class="h-screen w-screen bg-[#F5F7F8]">
        <div class="flex size-full flex-col">
            <div class="flex size-full flex-row overflow-hidden data-[panel-group-direction=vertical]:flex-col">
                <div>
                    @if (ViewBag.loginView != true)
                    {
                        if (User.IsInRole("Applicant"))
                        {
                            @await Html.PartialAsync("_Header")
                        }
                        else
                        {
                            @await Html.PartialAsync("_Sidebar")
                        }
                    }
                </div>
                <div class="flex w-full flex-col overflow-auto @((User.IsInRole("Applicant") || ViewBag.loginView == true) 
                        ? "min-h-screen" : "max-h-screen mb-[11.75px] mr-2.5 mt-2.5 rounded-md bg-white shadow-md 2xl:rounded-xl")">
                    <div class="flex-grow overflow-auto">
                        @RenderBody()
                        @if (User.IsInRole("Applicant") || ViewBag.loginView == true)
                        {
                            <div class="flex items-center justify-between bg-[#7A1515] py-2.5 text-center font-semibold text-white">
                                <div>
                                    <img src="~/img/logo2.webp" width="150" height="auto" alt="login-logo" class="ml-5" />
                                </div>
                                <text class="text-sm">For inquiries contact: info@gradsync.org</text>
                                <div class="mr-5">
                                    &copy; @DateTime.Now.Year GradSync
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="mr-2 mr-3 hidden h-3 h-4 h-5 h-6"></div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/tagify/dist/tagify.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
        toastr.options = {
            positionClass: "toast-bottom-center",
            timeOut: 3000,
            closeButton: true,
            progressBar: true
        };
        document.addEventListener("DOMContentLoaded", function () {
            const form = document.getElementById('signOutForm');
            const button = document.getElementById('signOutButton');

            form.addEventListener('submit', function (event) {
                button.disabled = true;
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
