@model Services.ServiceModels.JobViewModel
@using Data.Models;

@{
    var EmploymentTypes = ViewBag.EmploymentTypes as List<EmploymentType>;
    var SetupTypes = ViewBag.WorkSetups as List<SetupType>;
    var YearLevels = ViewBag.YearLevels as List<YearLevel>;
}

<div class="modal fade" id="editJobModal" tabindex="-1" role="dialog" aria-labelledby="editJobModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-2xl font-bold text-[#7A1515]" id="editJobModalLabel">Update Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeEditJobModal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body max-h-[calc(96vh-200px)] flex-grow overflow-y-auto">
                <form id="editJobForm" class="rounded-lg p-2">
                    @Html.AntiForgeryToken()
                    <div class="space-y-6">
                        <!-- First Row: Job Title | Slots Available | Location-->
                        <div class="flex space-x-6">
                            <!-- Job Title -->
                            <div class="flex-1">
                                <label asp-for="Title" class="block text-sm font-medium text-gray-700">Job Title</label>
                                <input placeholder="Junior Software Developer" asp-for="Title" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobTitle" name="Title" value="@Model.Title" maxlength="100" />
                                <span asp-validation-for="Title" class="text-sm text-red-500"></span>
                                <span id="remainingTitleChars" class="text-xs text-gray-500">100 characters remaining</span>
                            </div>

                            <!-- Slots Available -->
                            <div class="flex-1">
                                <label asp-for="AvailableSlots" class="block text-sm font-medium text-gray-700"></label>
                                <input asp-for="AvailableSlots" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" type="number" value="@Model.AvailableSlots" placeholder="30" id="editJobSlotsAvailable" name="AvailableSlots" />
                                <span asp-validation-for="AvailableSlots" class="text-sm text-red-500"></span>
                            </div>

                            <!-- Location -->
                            <div class="flex-1">
                                <label asp-for="Location" class="block text-sm font-medium text-gray-700">Location</label>
                                <input placeholder="Cebu City, Cebu" asp-for="Location" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobLocation" name="Location" value="@Model.Location" />
                                <span asp-validation-for="Location" class="text-sm text-red-500"></span>
                            </div>
                        </div>

                        <!-- Second Row: Description -->
                        <div>
                            <label asp-for="Description" class="block text-sm font-semibold text-gray-700">Description</label>
                            <textarea placeholder="Job description, benefits, etc. (make this field as descriptive as possible)" 
                                asp-for="Description" class="block h-14 w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobDescription" name="Description" maxlength="800">@Model.Description</textarea>
                            <span asp-validation-for="Description" class="text-sm text-red-500"></span>
                            <span id="remainingDescriptionChars" class="text-xs text-gray-500">800 characters remaining</span>
                        </div>

                        <!-- Third Row: Soft Skills | Technical Skills | Certification Skills -->
                        <div class="flex space-x-6">
                            <!-- Soft Skills -->
                            <div class="flex-1">
                                <label asp-for="SkillsS" class="block text-sm font-medium text-gray-700"></label>
                                <input placeholder="Open Mindset, Communication, Leadership" type="text" id="editJobSkillsSInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                                <div type="hidden" id="skillsSHiddenInputs" name="Skills"></div>
                                <span asp-validation-for="SkillsS" class="text-sm text-red-500" id="skillsSValidation"></span>
                            </div>

                            <!-- Technical Skills -->
                            <div class="flex-1">
                                <label asp-for="SkillsT" class="block text-sm font-medium text-gray-700"></label>
                                <input placeholder="C# (Programming Language), ASP.NET" type="text" id="editJobSkillsTInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                                <div type="hidden" id="skillsTHiddenInputs" name="SkillsT"></div>
                                <span asp-validation-for="SkillsT" class="text-sm text-red-500" id="skillsTValidation"></span>
                            </div>

                            <!-- Certification Skills -->
                            <div class="flex-1">
                                <label asp-for="SkillsC" class="block text-sm font-medium text-gray-700"></label>
                                <input placeholder="PhilNITS FE, CompTIA CASP+ CE" type="text" id="editJobSkillsCInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                                <div type="hidden" id="skillsCHiddenInputs" name="SkillsC"></div>
                                <span asp-validation-for="SkillsC" class="text-sm text-red-500" id="skillsCValidation"></span>
                            </div>
                        </div>

                        <!-- Third Row: Programs | Skill Weights -->
                        <div class="flex space-x-6">
                            <!-- Programs -->
                            <div class="flex-1">
                                <label asp-for="Programs" class="block text-sm font-medium text-gray-700"></label>
                                <input placeholder="Computer Science, Information Technology" type="text" id="editJobProgramsInput" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" />
                                <div type="hidden" id="programsHiddenInputs" name="Programs"></div>
                                <span asp-validation-for="Programs" class="text-sm text-red-500" id="programsValidation"></span>
                            </div>

                            <!-- Skill Weights -->
                            <div class="flex-1">
                                <label asp-for="SkillWeights" class="block text-sm font-medium text-gray-700"></label>
                                <div class="relative">
                                    <input asp-for="SkillWeights" type="range" id="skillWeights_range" min="0" max="1" step="0.1" value="@Model.SkillWeights"
                                           class="h-2 w-full appearance-none rounded-lg bg-gray-200 focus:outline-none focus:ring-2 focus:ring-[#7A1515]">
                                    <div class="opacity-10 pointer-events-none absolute inset-0 rounded-lg"></div>
                                </div>
                                <div class="mb-2 flex items-center justify-between text-xs text-gray-500">
                                    <span>Cultural</span>
                                    <span id="skillWeights" name="skillWeights">30% - 70%</span>
                                    <span>Technical</span>
                                </div>
                            </div>
                        </div>

                        <!-- Fourth Row: Schedule | Salary -->
                        <div class="flex space-x-6">
                            <!-- Schedule -->
                            <div class="flex-1">
                                <label class="block text-sm font-medium text-gray-700">Schedule (Weekly)</label>
                                <div class="flex space-x-4">
                                    <div class="flex-1">
                                        <label asp-for="ScheduleDays" class="block text-xs font-medium text-gray-700"></label>
                                        <input asp-for="ScheduleDays" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" type="number" value="@Model.ScheduleDays" placeholder="5" id="editJobScheduleDays" name="ScheduleDays" />
                                        <span asp-validation-for="ScheduleDays" class="text-sm text-red-500"></span>
                                    </div>
                                    <div class="flex-1">
                                        <label asp-for="ScheduleHours" class="block text-xs font-medium text-gray-700"></label>
                                        <input asp-for="ScheduleHours" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" type="number" value="@Model.ScheduleHours" placeholder="40" id="editJobScheduleHours" name="ScheduleHours" />
                                        <span asp-validation-for="ScheduleHours" class="text-sm text-red-500"></span>
                                    </div>
                                </div>
                                <span class="text-xs text-[#7A1515]" id="editJobScheduleInfo">Input 0 for either days or hours if flexible.</span>
                            </div>

                            <!-- Salary -->
                            <div class="flex-1">
                                <label asp-for="Salary" class="block text-sm font-medium text-gray-700"></label>
                                <div class="flex space-x-4">
                                    <div class="flex-1">
                                        <label asp-for="SalaryLower" class="block text-xs font-medium text-gray-700"></label>
                                        <input asp-for="SalaryLower" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" type="number" value="@Model.SalaryLower" placeholder="30000" id="editJobSalaryLower" name="SalaryLower" />
                                        <span asp-validation-for="SalaryLower" class="text-sm text-red-500"></span>
                                    </div>
                                    <div class="flex-1">
                                        <label asp-for="SalaryUpper" class="block text-xs font-medium text-gray-700"></label>
                                        <input asp-for="SalaryUpper" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" type="number" value="@Model.SalaryUpper" placeholder="45000" id="editJobSalaryUpper" name="SalaryUpper" />
                                        <span asp-validation-for="SalaryUpper" class="text-sm text-red-500"></span>
                                    </div>
                                </div>
                                <span class="text-xs text-[#7A1515]" id="editJobSalaryInfo">Input 0 for both lower and upper if unpaid.</span>
                            </div>
                        </div>

                        <!-- Fifth Row: Setup Type | Employment Type | Year Level -->
                        <div class="flex space-x-6">
                            <!-- Setup Type -->
                            <div class="flex-1">
                                <label asp-for="SetupTypeId" class="block text-sm font-medium text-gray-700">Setup Type</label>
                                <select asp-for="SetupTypeId" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobSetupTypeId" name="SetupTypeId">
                                    <option value="">-- Select Setup Type --</option>
                                    @foreach (var setup in SetupTypes)
                                    {
                                        <option value="@setup.SetupTypeId" selected=@(Model.SetupTypeId == setup.SetupTypeId) title="@setup.Description">@setup.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="SetupTypeId" class="text-sm text-red-500"></span>
                            </div>

                            <!-- Employment Type -->
                            <div class="flex-1">
                                <label asp-for="EmploymentTypeId" class="block text-sm font-medium text-gray-700"></label>
                                <select asp-for="EmploymentTypeId" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobEmploymentTypeId" name="EmploymentTypeId">
                                    <option value="">-- Select Employment Type --</option>
                                    @foreach (var type in EmploymentTypes)
                                    {
                                        <option value="@type.EmploymentTypeId" selected=@(Model.EmploymentTypeId == type.EmploymentTypeId)>@type.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="EmploymentTypeId" class="text-sm text-red-500"></span>
                            </div>

                            <!-- Year Level -->
                            <div class="flex-1">
                                <label asp-for="YearLevelId" class="block text-sm font-medium text-gray-700"></label>
                                <select asp-for="YearLevelId" class="block w-full rounded-lg border border-gray-300 p-2 text-sm" id="editJobYearLevelId" name="YearLevelId">
                                    <option value="">-- Select Year Level --</option>
                                    @foreach (var yearLevel in YearLevels)
                                    {
                                        <option value="@yearLevel.YearLevelId" selected=@(Model.YearLevelId == yearLevel.YearLevelId)>@yearLevel.Name</option>
                                    }
                                </select>
                                <span asp-validation-for="YearLevelId" class="text-sm text-red-500"></span>
                            </div>
                        </div>
                    </div>
                    <input asp-for="JobId" type="hidden" value="@Model.JobId" />
                    <input asp-for="PostedById" type="hidden" value="@Model.PostedById" />
                    <input asp-for="CompanyId" type="hidden" value="@Model.CompanyId   " />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="min-w-[128px] rounded-md bg-[#6c757d] px-3 py-2 font-medium text-white hover:bg-[#939BA2]" id="cancelEditJob" data-dismiss="modal">Cancel</button>
                <button type="submit" class="min-w-[128px] rounded-md bg-[#7A1515] px-3 py-2 font-medium text-white hover:bg-[#A04747] disabled:bg-gray-400" id="saveEditJob" onclick="submitEditJob()">Update</button>
            </div>
        </div>
    </div>
</div>
